<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img class="bi me-2" src="images/favicon.ico" alt="Logo">
      <span class="fs-4">Items Application</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/main" class="nav-link {{#main}}active{{/main}}">Main</a></li>
      <li class="nav-item"><a href="/items" class="nav-link {{#items}}active{{/items}}">Items</a></li>
      <li class="nav-item"><a href="/items-ratings" class="nav-link {{#itemsratings}}active{{/itemsratings}}">Item Ratings</a></li>
      <li class="nav-item"><a href="/status" class="nav-link {{#status}}active{{/status}}">Status</a></li>
    </ul>
  </header>
</div>