<!DOCTYPE html>
<html lang="en">
<head>
  {{> partials/header }}
  <title>Items App</title>
</head>
<body>
  {{> partials/main-navbar }}

  <div class="container text-center">
    <h1>Main Page</h1>
    <br>
    <div class="container m-4">
    <h2>Items Application Components Sheme</h2>
      <img src="images/app-scheme.png" alt="Items App scheme">
    </div>
  </div>
</body>
</html>